<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Realestate | Admin</title>
		
		<link rel="stylesheet" th:href="@{ /css/dashboard.css }">
		<link rel="shortcut icon" th:href="@{ /images/logo.svg }">
	</head>
	<body>
		<div class="wrapper">
		<header>
			<nav class="horizontal_nav">
				<div class="toggle_menu">
					<span class="fa fa-reorder"></span>
				</div>
				
				<div class="profile_infos">
					
					<img class="profile_picture" th:src="@{ '/images/admin/' + ${admin.profile_pic} }" />
					
					<p class="profile_name">
						<span th:text="${ admin.name } +' '+ ${ admin.last_name }"></span>
					</p>
					
					<a class="logout" href="/logout">
						<span class="fa fa-sign-out"></span>
					</a>
				</div>

			</nav>
			
			<nav class="vertical_nav">
				<div class="nav">
					<div class="logo">
						<img th:src="@{ /images/logo.svg }"/>
					</div>
					
					<div class="menu">
						<ul>
							<a href="/" class="" >
								<li class="one active">
									<span class="fa fa-pie-chart" title="Generals"></span>
									<span class="name">Generals</span>
								</li>
							</a>
							
							<a href="/agents_stats" class="" >
								<li class="three">
									<span class="fa fa-user-secret" title="Agents"></span>
									<span class="name">Agents</span>
								</li>
							</a>
							
							<a href="/operators_stats" class="" >
								<li class="four">
									<span class="fa fa-cogs" title="Operators"></span>
									<span class="name">Operators</span>
								</li>
							</a>
							
							<a href="/lodgements_stats" class="" >
								<li class="five">
									<span class="fa fa-building" title="Lodgements"></span>
									<span class="name">Lodgements</span>
								</li>
							</a>
						</ul>
					</div>
				</div>	
			</nav>
		</header>
		<section>
		
			<div class="main_section">
				<div class="visites_section">
					<div class="all">
						<p class="title">Total Visites :</p>
						<p class="statistic">number of websites's visites: 
						<span class="number nbr_all_visites "></span></p>
					</div>
					
					<div class="client">
						<p class="title">Client's Visites :</p>
						<p class="statistic">number of visites: 
							<span class="number nbr_client_visites "></span> 
							<span class="percent">							
								<span class=" percent_client_visites "></span> %
							</span>							
						</p>
					</div>
					
					<div class="agent">
						<p class="title">Agent's Visites :</p>
						<p class="statistic">number of visites: 
							<span class="number nbr_agent_visites "></span> 
							<span class="percent" >
								<span class="percent_agent_visites"></span> %
							</span>
						</p>
					</div>
					
					<div class="client">
						<p class="title">Operator's Visites :</p>
						<p class="statistic">number of visites: 
							<span class="number nbr_operator_visites "></span> 
							
							<span class="percent" >
								<span class=" percent_operator_visites "></span> %
							</span>
						</p>
					</div>
				</div>
			
			
				<div class="visitors_charts">
					<div class="visitors_nbr_wrapper">
						<p class="title">The number of the website's visites per month</p>
						<div class="visitors_nbr">
							<canvas id="visitors_nbr_chart" width="400" height="400"></canvas>
						</div>
					</div>
				</div>
				
				<div class="pie_charts">
				
					<div class="global_charts">
						<p>Global Appointement's statistics </p>
						<div class="appointements_stats">
							<canvas id="global_appointements_stats" width="400" height="400"></canvas>
						</div>
					</div>
					
					<div class="clients_charts">
						<p>Appointement's statistics per clients</p>
						<div class="appointements_stats">
							<canvas id="client_appointements_stats" width="400" height="400"></canvas>
						</div>
					</div>
					
					<div class="agents_charts">
						<p>Appointement's statistics per agents</p>
						<div class="appointements_stats">
							<canvas id="agent_appointements_stats" width="400" height="400"></canvas>
						</div>
					</div>

				
				</div>
				
				
				<div class="bar_charts">
									
					<div class="type_charts">
						<p>Appointement's statistics per type</p>
						<div class="appointements_stats">
							<canvas id="type_appointements_stats" width="400" height="400"></canvas>
						</div>
					</div>
					
					<div class="locale_charts">
						<p>Appointement's statistics per locale</p>
						<div class="appointements_stats">
							<canvas id="locale_appointements_stats" width="400" height="400"></canvas>
						</div>
					</div>

				
				</div>
				
			</div>		
		</section>

		</div>
		<script type="text/javascript" th:src="@{ /js/dashboard.js }"></script>
		<script type="text/javascript" th:src="@{ /js/chart.js }"></script>
		<script type="text/javascript" th:src="@{ /js/statistic.js }"></script>
	</body>
</html>